@import './variables.scss';

.App {
  text-align: center;
}

.ant-card {
  border-radius: 2px;
  .ant-card-cover {
    display: flex;
    justify-content: center;
  }
  .ant-card-body {
    text-align: center;
    padding: 0;
  }
}

.ant-layout {
  background: unset;
}

.ant-breadcrumb {
  background-color: white;
  padding: 1rem 1rem 0;
  align-self: flex-start;
  li:last-child {
    color: chocolate;
  }
}

.ant-menu {
  border: none !important;
  .ant-menu-sub.ant-menu-inline {
    background-color: white !important;
  }
  .ant-menu-item {
    background-color: white;
  }
}

.ant-input {
  border-radius: 20px;
}
.ant-form-item {
  margin-bottom: 10px;
}

.ant-form-item .ant-form-item-label {
  padding-bottom: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.ant-drawer .ant-drawer-body {
  flex: 1;
  min-width: 0;
  min-height: 0;
  padding: 24px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ant-typography {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: $orange-main;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  line-height: normal;
  height: auto;
  width: 100%;
  padding: 0 1rem;
}

.App-link {
  color: orange;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
