// start base color
$ink1: #333333;
// end base color

$brandBlue: #2f12a7;
$black: #000000;
$black1: #222020;
$white: #ffffff;
$green: #32d07b;
$green2: #34bd74;
$red1: #fe3d2e;
$red2: #e7534f;
$yellow: #f1c40f;
$blue-1: #28f2ff;
$blue-2: #297ded;
$blue-5: #5c5fc8;
$pink-1: #ef37ff;
$orange1: #ef7935;
$orange2: #fea600;
$orange3: #fdc500;
$orange4: #fafafa;
$normal: #1abc9c;
$text1: #333333;
$text2: #8d8c92;
$text3: #909090;
$text3Light: #919191;
$text4: #787b86;
$line1: #404042;
$darkBg: $black;
$textBoxColor1: $black;
$textBoxColor2: #f5f5f5;
$chartGreen1: #143421;
$chartGreen2: #e9f8f3;
$chartRed1: #371717;
$chartRed2: #ffecee;
$line2: #e0e0e0;
$lightBg1: #f8f8f8;
$lightBg2: #ffffff;
$lightBg3: #f4f4f4;
$lightBg4: #ececec;
$white-1: #ffffff;
$border1: #434651;
$border2: #2a2e39;
$border3: #d1d4dc;

// start input
$darkInputBorder: $border1;
$darkInputBg: #242834;
$darkInput: #d1d4dc;
$darkInputCaret: #007aff;
$darkInputPlaceholder: $text4;
// end input

// start icon
$darkIconColor: $white;
$darkIconBackground: #484a56;
